<h1>My App</h1>

<p>This is the landing page for my app.  The header above will remain unchanged as you navigate through the pages and subpages of the app.</p>

<p>Click <a href="#view1">here</a> to go to View 1, a page about fruits.</p>
<p>Click <a href="#view2">here</a> to go to View 2, a page about countries.</p>
<p>Click <a href="#view3">here</a> to go to View 3, a page about animals.</p>
<p>Click <a href="#view4">here</a> to go to View 4, a page about political entities.</p>
<p>Click <a href="#view5">here</a> to go to View 5, a page about body parts.</p>